
 /* font style taken from Skeleton 2.0.4 */
html {
    font-size: 62.5%; }
body {
    font-size: 1.5em; 
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0D0D0D; }

  
/*links */
a {
    color: #A7BF4E; }
a:hover {
    color: #ECF2BB;
    font-style: italic; }
a:visited {
    color: #5888A6;
    font-style: normal;
}
a:active {
    color:  #ECF2BB;
    text-decoration:underline ;
}

ul > li {
  list-style: none;
}



mark {
    background-color: #ECF2BB;
    color: #0D0D0D;
   
}

/* jquery slider panel styles */
            #panel,
			#flip {
				text-align: justify;
        background-color: rgba(62, 63, 64, 1, 0.5);
			}
	
			#panel {
				padding: 1px;
				display: none;
			}

/* responsive grid from w3 tryit */
* {
  box-sizing: border-box;
}

.header {
  border: 1px solid #F2F2F2;
  padding: 1px;
  background: url(/images/twinkle.gif) top center / 2% repeat content-box;
  border: 10px solid transparent;
            padding: 1px;
            border-image: url(/images/border3.png) 30 round;
  
}

.menu {
  width: 25%;
  float: left;
  padding: 15px;
  border: 1px solid #F2F2F2;
}

.main {
  width: 75%;
  float: left;
  padding: 15px;
  border: 1px solid #F2F2F2;
}
